body {
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.a1{
    color: white;
    text-decoration: none;
}

header img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    
}

h3{
    text-align: center;
}
p{
    text-align: center;
}

.center{
    text-align: center;
}

.th1{
    text-align: center;
    color: goldenrod;
}

.th2{
    text-align: center;
    color: white;
}

.a2{
    color: white;
    text-decoration: underline;
}

footer img{
    width: 50px;
    height: 50x;
}

footer{
    text-align: center;
    margin-top: 100px;
}

footer a{
    text-decoration: none;
    margin: 20px
}

main a{
    color: gold;
}
footer h4{
    margin-bottom: 5px;
}

.container{
    padding: 0px 300px;
}

nav a{
    text-decoration: none;
    position: relative;
    font-size: 14pt;
    text-align: center;
}
nav a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: gold;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.6s ease-in-out;
}

nav a:hover::after{
    width:100%
}

.itens{
    background-color: rgb(165, 121, 25);
}
.processador {
    background-color: rgb(165, 121, 25);
}
.gpu{
    background-color: rgb(165, 121, 25);
}
.ram{
    background-color: rgb(165, 121, 25);
}
.placamae{
    background-color: rgb(165, 121, 25);
}
.ssd{
    background-color: rgb(165, 121, 25);
}
.config{
    background-color: rgb(165, 121, 25);
    color: white;
}
.itens2{
    background-color: rgb(245, 150, 7);
}
.perifericos{
    background-color: rgb(245, 150, 7);
}
.mouse{
    background-color: rgb(245, 150, 7);
}
.teclado{
    background-color: rgb(245, 150, 7);
}
.monitor{
    background-color: rgb(245, 150, 7);
}
.fone{
    background-color: rgb(245, 150, 7);
}
.mic{
    background-color: rgb(245, 150, 7);
}

td {
    border: 1px solid white;
    padding: 10px;
    width: 150px;
    height: 50px;

}
table {
    width: 600px;
    height: 150px;
    border-collapse: collapse;
    margin: auto;
}

.video{
    text-align: center;
    margin-top: 20px;
}